registry=https://registry.npmmirror.com
shamefully-hoist=true
store-dir=./pnpm-ral/.pnpm-store
cache-dir=./pnpm-ral/.local-cache
global-dir=./pnpm-ral/.pnpm-global
bin-dir=./pnpm-ral/.pnpm-global/bin
prefer-offline=true
offline=true